includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
  level: 0
  paths:
    - config
    - rules
    - rules-tests
    - tools
  scanDirectories:
    - joomla
  ignoreErrors:
  reportUnmatchedIgnoredErrors: false
